

.tête{
border: 3px solid;
border-color: rgb(20, 130, 176);
text-align:center;
text-justify: auto;
margin-right: 25px;
}

.nav {
    text-align: center;
}

.nav ul li {
    display: inline;
}

.nav ul li a:hover  {
    color: black;
    padding: 5px 10px;

}


