<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A propos </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css')}}">
</head>
<body>

    <header>
        <nav class="navbar">
        <div class="logo-hubeau">
            <img src="{{ url_for('static', filename='LOGO_HUBEAU.png') }}" alt="LOGO HUBEAU" width="130">
        </div>
        <div class="logo-eaufrance">
            <img src="{{ url_for('static', filename='eaufrance.png') }}" alt="Eaufrance" width="130">
        </div>
        <div class="barre">   
            <ul class="nav-links">
                <li><a href="{{ url_for('index') }}">Accueil</a></li>
                <li><a href="{{ url_for('Documentation') }}">Documentation</a></li>
                <li><a href="{{ url_for('Données_indicateurs') }}">Données indicateurs</a></li>
            </ul>
        </div>     
        </nav>
    </header>
        
        <div class="video-container">
            <video autoplay muted loop playsinline>
                <source src="{{ url_for('static', filename='video_a_propos.mp4') }}" type="video/mp4">
            </video>
            <div class="video-title">A propos</div>
        </div>

        <section class="texte">
            <p>
                Texte qui presente la page.<br><br>
            </p>
        </section>

  <footer class="footer">
        <p>Contactez-nous</p>
        <div class="emails">
            <a href="mailto:diyan-sathsara.hetti-arachchige@etu.u-pec.fr">Diyan HETTI</a>
            <a href="mailto:isabelle.ye@etu.u-pec.fr">Isabelle YE</a>
            <a href="mailto:sarah.lebik@etu.u-pec.fr">Sarah LEBIK</a>
            <a href="mailto:mohamed.siffer@etu.u-pec.fr">Mohamed SIFFER</a>
            <a href="mailto:rayane.ramdane@etu.u-pec.fr">Rayane RAMDANE</a>
        </div>
        <div class="logo-upec">
            <img src="{{ url_for('static', filename='Logo_upec.png') }}" alt="LOGO UPEC" width="160">
        </div>
    </footer>

</body>
</html>
