<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    
   
</head>
<body>

    <header>
        <nav class="navbar">
        <div class="logo-hubeau">
            <img src="{{ url_for('static', filename='LOGO_HUBEAU.png') }}" alt="LOGO HUBEAU" width="130">
        </div>
        <div class="logo-eaufrance">
            <img src="{{ url_for('static', filename='eaufrance.png') }}" alt="Eaufrance" width="130">
        </div>
        <div class="barre">   
            <ul class="nav-links">
                <li><a href="{{ url_for('Données_indicateurs') }}">Données indicateurs</a></li>
                <li><a href="{{ url_for('Documentation') }}">Documentation</a></li>
                <li><a href="{{ url_for('a_propos') }}">À propos</a></li>
            </ul>
        </div>     
        </nav>
    </header>
        <div class="video-container">
            <video autoplay muted loop playsinline>
                <source src="{{ url_for('static', filename='video_index.mp4') }}" type="video/mp4">
            </video>
            <div class="video-title">Accueil</div>
        </div>

        <section class="texte">
            <p>
                Bienvenue sur cette plateforme créée dans le cadre de notre projet étudiant, dédiée à la valorisation des données issues de l’API des indicateurs des services de l’eau.<br><br>
                Notre objectif est de faciliter la compréhension de ces données grâce à des visualisations claires et interactives : graphiques, cartes et tableaux dynamiques.<br><br>
                Découvrez la page <strong>Données indicateurs</strong> pour explorer différents types d'informations liées aux indicateurs, la page <strong>Documentation</strong> pour mieux comprendre les indicateurs, et la page <strong>À propos</strong> 
                pour en savoir plus sur notre base de données ainsi que notre démarche.<br><br>
            </p>
        </section>
    <footer class="footer">
        <p>Contactez-nous</p>
        <div class="emails">
            <a href="mailto:diyan-sathsara.hetti-arachchige@etu.u-pec.fr">Diyan HETTI</a>
            <a href="mailto:isabelle.ye@etu.u-pec.fr">Isabelle YE</a>
            <a href="mailto:sarah.lebik@etu.u-pec.fr">Sarah LEBIK</a>
            <a href="mailto:mohamed.siffer@etu.u-pec.fr">Mohamed SIFFER</a>
            <a href="mailto:rayane.ramdane@etu.u-pec.fr">Rayane RAMDANE</a>
        </div>
    
    </footer>

    <div class="logo-upec">
            <img src="{{ url_for('static', filename='Logo_upec.png') }}" alt="LOGO UPEC" width="120" height="120">
            <img src="{{ url_for('static', filename='logo_OFB.jpg') }}" alt="LOGO OFB" width="120">
            <img src="{{ url_for('static', filename='logo_BGRM.png') }}" alt="LOGO BGRM" width="300">
            <img src="{{ url_for('static', filename='logo-api.svg') }}" alt="LOGO API" width="250">
    </div>

</body>
</html>
