{% macro heading_row(headings) %} 
    <!-- Macro pour générer une ligne d'en-tête de tableau à partir d'une liste de titres -->
    <thead>
    <tr class="table__header">
        {% for header in headings %}
        <!-- Pour chaque élément dans 'headings', on crée une cellule <th> -->
        <th class="table__cell">{{ header }}</th>
        {% endfor %}
    </tr>
    </thead>
{% endmacro %}

{% macro data_rows(data) %}
    <tbody>
    <!-- Macro pour générer les lignes de données du tableau à partir d'une liste de tuples -->
    {% for row in data %}
    <tr class="table__row">
        {% for cell in row %}
        <!-- Pour chaque valeur dans une ligne, on crée une cellule <td> -->
        <td class="table__cell">{{ cell }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
{% endmacro %}

{% macro data_table(headings, data) %}
    <!-- Macro pour construire le tableau complet en utilisant les macros précédentes -->
    <table class="table">
        {{ heading_row(headings) }}  <!-- Génère la ligne des en-têtes -->
        {{ data_rows(data) }}        <!-- Génère les lignes des données -->
    </table>
{% endmacro %}